body {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: arial, sans-serif;
}

/* top right (nav bar)start */
.nav-bar {
  margin: 20px 10px;
  text-align: right;
}

.tool-bar {
  margin: 0 5px 0 20px;
  vertical-align: middle;
  width: 24px;
  opacity: 0.7;
}

.tool-bar:hover {
  cursor: pointer;
}

.Sign-in {
  font-family: Google Sans, sans-serif;
  font-size: 15px;
  margin: 0 8px 0 10px;
  padding: 10px 26px;
  text-align: center;
  border-radius: 4px;
  background-color: #2b7de9;
  color: white;
}

.Sign-in:hover {
  box-shadow: 0 0 2px rgba(89, 153, 236);
  background-color: #3d88ff;
  text-decoration: none;
}

.Sign-in {
  text-decoration: none;
}

.gmail-images {
  text-decoration: none;
  font-size: 13px;
  color: black;
  margin-right: 10px;
}

.gmail-images:hover {
  text-decoration: underline;
}

/* top right (nav bar)end */

/* main (middle) start*/

.main {
  width: 580px;
  margin: 0 auto;
  text-align: center;
}

.main img {
  width: 280px;
}

/* width set in html ( search = 20px , 0.4 opacity , voice = 24px ) */
.search-bar svg {
  vertical-align: middle;
}

.search-bar {
  margin-top: 30px;
  border: 1px solid lightgrey;
  border-radius: 9999px;
}

.search-bar:hover {
  box-shadow: 0 0 5px rgb(211, 211, 211, 0.7), 1px 1px 8px rgb(211, 211, 211, 0.7);
}

.search-bar input {
  border: none;
  padding: 10px;
  margin: 10px;
  height: 5px;
  width: 455px;
  outline: none;
}

.buttons a {
  font-size: 14px;
  display: inline-block;
  margin: 16px 3px;
  color: black;
  text-decoration: none;
  background-color: rgb(250, 250, 250);
  padding: 10px 17px;
  border: 1px solid white;
}

.buttons a:hover {
  border: 1px solid rgb(210, 210, 210);
  box-shadow: 0 0.5px 1px rgb(210, 210, 210);
  cursor: pointer;
}


/* main (middle) end*/
/* start of footer */
.footer *{
  padding: 20px 20px;
}
.footer {
  position: absolute;
  bottom: 0;
  min-width: 100%;
  font-size: 14px;
  background-color: rgb(240, 240, 240);
}

.footer a {
  opacity: 0.7;
  color: rgb(24, 24, 24);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer div {
  display: inline-block;
  padding: 20px 10px;
}
.footer-right{
  float:right;
}


/* end of footer */